{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="mt-[7.5rem] lg:mt-[7.5rem]">
<section class="main-grid">
    <div class="col-span-full">
        <div>
            <h1 class="[ br-lg ] display-1 text-center pb-5"><span>Ультратонкие</span> <span>презервативы </span><span>DR.JOYS</span></h1>
            <h2 class="flex flex-wrap justify-center text-sm lg:text-xl font-medium leading-tight">
                <span class="flex justify-center gap-1 w-full">Неощутимые на 95% <span class="lg:text-sm text-xs mb-auto">(0,02 мм)</span></span>
                <span class="flex justify-center w-full">Тоньше волоса, прочнее стали</span>
            </h2>
        </div>
    </div>
    <div class="col-span-full">

    </div>
</section>
</main>
{% endblock %}
