.display-1 {
    @apply text-2xl lg:text-[2.5rem] leading-tight font-benzin uppercase;
}
.display-2 {
    @apply text-2xl lg:text-[2rem] leading-tight font-bold;
}
.h1 {
    @apply text-2xl;
}
.h2 {
    @apply text-xl;
}