.breadcrumb {
    @apply flex gap-3 mt-auto;
}

.blog-breadcrumbs {
    @apply flex flex-col md:flex-row py-8;
}

.blog-breadcrumb-item {
    @apply text-xs uppercase tracking-wide md:border-r-1 md:px-3 md:py-0 md:border-b-0 border-b-1 py-1;
}
.blog-breadcrumb-item:first-child {
    @apply md:pl-0;
}
.blog-breadcrumb-item:last-child {
    @apply md:border-r-0;
}

.breadcrumb-item:last-child {
    @apply text-black;
}

.breadcrumb-item {
    @apply text-xs uppercase tracking-wider text-gray-500 hover:text-red-500;
}

.breadcrumb-item a:hover {
    @apply text-red-500;
}

.breadcrumb-separator {
    @apply text-xs text-gray-400;
}

.breadcrumb-back {
    @apply flex lg:hidden items-center gap-2 pb-3 text-sm font-medium uppercase tracking-wider text-black hover:text-red-500 mt-auto;
}