@layer components {
    .btn-cat {
        @apply uppercase border-red-500 border-1 text-red-500 bg-white hover:bg-red-500 hover:text-white cursor-pointer py-4 px-8 text-xs;
    }
    .btn-cat-list {
        @apply cursor-pointer py-2 px-4 text-xs text-left flex items-center justify-between w-full hover:text-red-500;
    }

    .btn-menu {
        @apply lg:ml-auto w-12 h-6 lg:w-16 lg:h-8 lg:my-4 relative cursor-pointer z-100;
    }
    .btn-menu > .line-item {
        @apply w-full h-[1.5px] bg-black absolute transition-all duration-300;
    }

    .btn-link {
        @apply uppercase text-gray-500 tracking-wide font-bold cursor-pointer text-sm hover:text-red-500;
    }
    .btn-link.active {
        @apply text-black;
    }

    .faq-button {
        @apply w-full text-sm text-left uppercase tracking-wider hover:text-red-500 flex items-center justify-between cursor-pointer py-2;
    }
    .faq-button[aria-expanded="true"] .faq-icon {
        @apply rotate-45;
    }

    .product_links-item {
        @apply text-sm tracking-wide font-bold uppercase hover:text-red-500;
    }
    .add-to-cart.active {
        @apply border-1;
    }

    .btn-macro {
        @apply font-benzin text-xs lg:text-base p-5 lg:p-7 cursor-pointer rounded-full leading-tight;
    }
    .btn-macro.default {
        @apply bg-gray-200 hover:bg-black text-black hover:text-white;
    }
    .btn-macro.danger {
        @apply bg-red-500 hover:bg-black text-white;
    }
    .btn-macro.white-opacity {
        @apply bg-white/30 hover:bg-black text-white border-1 border-white hover:border-black;
    }
}