.go-partners {
    @apply bg-gray-100 pt-20 pb-4 lg:pb-15 lg:pt-25 overflow-hidden;
}
.go-partners-container {
    @apply col-span-full md:col-span-4 lg:col-span-9 xl:col-span-8 xl:col-start-2 rounded-2xl lg:rounded-4xl bg-white;
}
.go-partners-content {
    @apply  lg:p-15 px-5 py-10 flex flex-col gap-4 md:gap-6 lg:gap-10 h-full relative;
}
.go-partners-side {
    @apply  relative col-span-full md:col-span-2 lg:col-span-6 xl:col-span-5 rounded-2xl lg:rounded-4xl bg-gray-100 overflow-hidden;
}
